@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);

body {
	font: 300 16px/1.5 'Roboto', Arial, sans-serif;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: 100;
}

h1 {
	font-size: 42px;
}

@media (max-width: 479px) {
	h1 {
		font-size: 38px;
	}
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

p {
	color: #5E5E5E;
}

a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	color: #A3A3A3;
	line-height: 45px;
	border: 1px solid #A3A3A3;
	-webkit-border-radius: 20px;
	        border-radius: 20px;
	padding-left: 30px;
	padding-right: 30px;
	text-transform: uppercase;
	outline: none;
	letter-spacing: .075em;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	color: #FFF;
	background: #FFB200;
	border-color: #FFB200;
}

.ba-button_plain {
	display: block;
	border: none;
	color: #5E5E5E;
	margin-top: 10px;
	padding-left: 0;
	padding-right: 0;
}

.ba-button_plain:hover {
	color: #010101;
	background: transparent;
	text-decoration: underline;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
	text-align: center;
	border: 1px solid #c1c1c1;
	border-radius: 20px;
	padding: 9px 20px;
	background: transparent;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
	outline: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: #C5C5C5;
	text-decoration: none;
}

.ba-hidden {
	display: none;
}

.ba-container {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 28px;
	text-align: center;
	overflow: hidden;
}

.ba-overlay {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: #000;
	opacity: .57;
}

.ba-header {
	position: absolute;
	top: 0; left: 0; right: 0;
	padding: 20px 0 30px;
	border-bottom: 1px solid rgba(255, 255, 255, .05);
	z-index: 996;

	-webkit-transition: height .2s ease-in;
	   -moz-transition: height .2s ease-in;
	        transition: height .2s ease-in;
}

.ba-logo__img {
	width: 159px;
	height: 73px;
}

.ba-nav {
	margin-top: 50px;
	width: 65%;
	max-width: 665px;
}

/* Lang */

.ba-lang {  }

.ba-lang > li {
	float: left;
	padding: 0 4px 0 0;
}

.ba-lang > li.ba_is-current {
	color: #C5C5C5;
	font-weight: 700;
}

.ba-lang a {  }

.ba-lang a:hover {
	color: #ECB944;
}

/* Menu */

.ba-menu {
	font-size: 0;
}

.ba-menu > li {
	display: inline-block;
	font-size: 16px;
	margin-left: 20px;
}

.ba-menu > li:first-child {
	margin-left: 0;
}

.ba-menu a {
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	color: #C5C5C5;
}

.ba-menu a:hover {
	padding-bottom: 6px;
	border-bottom: 1px solid #FFF;
}

.ba-menu-toggle {
	float: right;
	display: inline-block;
	width: 30px;
	border: solid #C5C5C5;
	border-width: 5px 0;
	margin: 40px 30px 0 0;
	padding: 6px 0;
	display: none;
	cursor: pointer;
	-webkit-border-radius: 2px;
	        border-radius: 2px;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ba-menu-toggle:before {
	content: "";
	background: #C5C5C5;
	height: 5px;
	display: block;
}

.ba-menu-toggle:hover {
	border-color: #ECB944;
}

.ba-menu-toggle:hover:before {
	background-color: #ECB944;
}

.ba-menu-overlay {
	display: none;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: #000;
	opacity: .5;
	cursor: pointer;
	z-index: 997;
}

@media (max-width: 959px) {

	body {
		position: relative;
		left: 0;
		-webkit-transition: left .3s ease-in;
		   -moz-transition: left .3s ease-in;
		        transition: left .3s ease-in;
	}


	.ba-menu-open {
		left: -200px;
	}

	.ba-menu-open .ba-menu-overlay {
		display: block;
	}

	.ba-menu-open .ba-nav {
		right: 0;
	}

	.ba-menu-toggle {
		display: inline-block;
		position: relative;
		z-index: 9999;
	}

	.ba-header_secondary .ba-menu-toggle {
		margin-top: 17px;

		-webkit-transition: margin .3s ease-in;
		   -moz-transition: margin .3s ease-in;
		        transition: margin .3s ease-in;
	}

	.ba-menu-open .ba-header_secondary .ba-menu-toggle {
		margin-right: 230px;
	}

	.ba-nav {
		position: fixed;
		line-height: 24px;
		margin: 0;
		padding: 20px;
		background: #000;
		top: 0; right: -200px; bottom: 0;
		width: 200px;
		z-index: 999;
		text-align: center;

		-webkit-transition: right .3s ease-in;
		   -moz-transition: right .3s ease-in;
		        transition: right .3s ease-in;
	}

	.ba-lang,
	.ba-menu {
		float: none;
		margin: 0 auto;
		text-align: center;
	}

	.ba-lang {
		display: inline-block;
		margin-bottom: 20px;
	}

	.ba-menu li {
		display: block;
		margin: 0;
		padding: 10px 0;
	}

}

/* Banner */

.ba-banner {
	position: relative;
	height: 100vh;
  background: url(../img/banner.jpg) no-repeat 50% 0;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 130px 0 0;
}

.ba-banner__container {
	padding-top: 15%;
}

@media (max-height: 650px) {
	.ba-banner__container {
		padding-top: 0;
	}
}

.ba-banner:before {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: url(../img/light.png) no-repeat 40% 90%;
}

.ba-banner:after {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: url(../img/ellipses.png) no-repeat 50% 100%;
}

.ba-banner__title,
.ba-banner__subtitle {
	position: relative;
	z-index: 9;
}

.ba-banner__title {
	color: #FFF;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.2em;
	text-shadow: 0 0 6px;
	opacity: .8;
}

.ba-banner__subtitle {
	color: #ECB944;
	text-transform: lowercase;
	font-weight: 300;
	text-shadow: 0 0 3px;
	opacity: 0.59;
}

@media (max-width: 480px) {
	.ba-banner__title {
		font-size: 28px;
	}

	.ba-banner__subtitle {
		font-size: 16px;
	}

	.ba-banner:after {
		display: none;
	}
}

.ba-banner-footer {
	position: absolute;
	bottom: 0; left: 0; right: 0;
	height: 30px;
	overflow: hidden;
}

.ba-banner__scroll-down {
	display: block;
	position: relative;
	margin: -40px auto 0;
	width: 50px;
	padding: 25px;
	background: url(../img/icon/arrow-scroll-down.svg) no-repeat 50% 30px;
	border: 15px solid #FFF;
	z-index: 9;
}

.ba-banner__blank {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background: #FFF;
	z-index: 10;
}

.ba-banner__blank_part_left {
	right: 50%;
	margin-right: 25px;
}

.ba-banner__blank_part_right {
	left: 50%;
	margin-left: 25px;
}

/* Header secondary */
.ba-header_secondary {
	position: fixed;
	top: -59px; left: 0; right: 0;
	background: #000;
	height: 59px;
	line-height: 59px;
	padding: 0;
	border: none;

	-webkit-transition: transform .3s ease-in;
	   -moz-transition: transform .3s ease-in;
	        transition: transform .3s ease-in;
}

.ba-header_shown {
	-webkit-transform: translateY(+100%);
	   -moz-transform: translateY(+100%);
	        transform: translateY(+100%);
}

.ba-header_secondary .ba-logo {
	padding: 7px 0 0;
}

.ba-header_secondary .ba-logo__img {
	width: 104px;
	height: 40px;
}

.ba-header_secondary .ba-lang > li {
	line-height: 59px;
}

.ba-header_secondary .ba-lang > li:first-child {
	border-right: none;
}

.ba-header_secondary .ba-nav {
	margin-top: 0;
}

/* Advantages */

.ba-advantages {
	/*position: relative;*/
	padding: 150px 0 20px;
}

.ba-advantages__title {
	margin-bottom: 70px;
}

.ba-advantages__item {
	min-height: 165px;
}

.ba-advantages-item__text {
	color: #5E5E5E;
	padding: 10px 20px;
}

.ba-advantages-item__wrapper {
	display: block;
	padding: 20px 0;
}

.ba-advantages-item__wrapper:hover {
	/*background-color: #F2F2F2;*/
	background-color: rgba(0, 0 , 0, .05);
}

.ba-advantages-item__wrapper:hover .ba-advantages-item__text {
	color: #010101;
	text-decoration: underline;
}

/* Popup */

.ba-popup,
.ba-popup-overlay {
	display: none;
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: 999;
}

.ba-popup-overlay {
	background-color: #000;
	opacity: .5;	
}

.ba-popup {
	width: 70%;
	max-width: 800px;
	height: 70%;
	margin: auto;
	overflow: auto;
	background-color: #fff;
	padding: 50px;
}

@media (max-width: 600px) {

	.ba-popup {
		width: 100%;
		height: 100%;
	}

}

.ba-popup__svg {
	fill: #393939;
	width: 30%;
}

.ba-popup__close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px 20px 0;
}

.ba-popup__close:hover {
	text-decoration: underline;
}

/* Mission */

.ba-mission {
	padding: 35px 0 90px;
	background: url(../img/bg-stars.jpg) no-repeat 50% 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ba-mission__title {
	color: #FFFEFE;
}

.ba-mission__text,
.ba-mission__text_secondary {
	color: #A3A3A3;
	margin: 0;
}

.ba-mission__text_secondary {
	padding-left: 100px;
	padding-right: 100px;
}

@media (max-width: 768px) {

	.ba-mission__text_secondary {
		padding-left: 10px;
		padding-right: 10px;
	}

}

.ba-button_learn-more {
	margin-top: 55px;
}

/* Services */

.ba-services {
	padding: 50px 0 80px;
	border-bottom: 1px solid #DCDCDC;
}

.ba-services__text,
.ba-services__text_secondary {
	margin: 0;
}

.ba-services__text {
	margin-top: 50px;
}

.ba-services__text_secondary {
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 60px;
}

@media (max-width: 768px) {

	.ba-services__text_secondary {
		padding-left: 10px;
		padding-right: 10px;
	}
	
}

.ba-services__item {
	min-height: 180px;
}

.ba-services__item > p {
	padding: 10px 20px;
}

.ba-button_view-all {
	margin-top: 20px;
}

/* Projects */

.ba-projects {
	padding: 55px 0 153px;
}

.ba-projects__slider {
	margin-top: 50px;
}

.ba-projects__slider img {
	margin: 0 auto;
}

.ba-slide {
}

.ba-slide__img-wrapper {
	max-height: 120px;
	line-height: 120px;
}

.ba-slide__img {
	display: inline-block !important;
	-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
}

.ba-slide__title {
	text-transform: uppercase;
	font-size: 14px;
}

.ba-slide__link {
	display: inline-block;
	color: #5E5E5E;
}

.ba-slide__link:hover {
	text-decoration: underline;
}

.ba-slide__link:hover .ba-slide__img {
	-webkit-filter: grayscale(0);
			filter: grayscale(0);
}

.ba-slide__link_img {
	line-height: 0;
}

/* Slider's arrows */

.slick-prev,
.slick-next {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	fill: #A0A0A0;
	width: 21px;
	height: 78px;
	cursor: pointer;
	z-index: 1;
}

.slick-prev:hover,
.slick-next:hover {
	fill: #000;
}

.slick-prev {
	left: 0;
}

.slick-next {
	right: 0;
}

/* Help */

.ba-help {
	padding: 38px 0 62px;
	background: url(../img/bg-stars.jpg) no-repeat 50% 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ba-help_without-bg {
	background: none;
	padding: 7px 0 78px;
}

.ba-help_without-bg .ba-help__title {
	color: #000;
}

.ba-help__title {
	color: #FFF;
	margin-bottom: 60px;
}

.ba-help__form {
	font-size: 0;
	padding-top: 5px;
}

.ba-help__form input,
.ba-help__form button {
	min-width: 235px;
	max-width: 304px;
	width: 100%;
	font-size: 18px;
	color: #7F7F7F;
}

.ba-help__form input {
	margin-bottom: 20px;
}

.ba-help__button {
	color: #434343;
	background: #FFB200;
	text-transform: none;
	border: none;
	letter-spacing: .01em;
}

.ba-help__button:hover {
	background: #FFC236;
}

/* About */

.ba-about {
	padding: 60px 0 20px;
}

.ba-about__title {
	margin-bottom: 40px;
}

/* Team */

.ba-team {
	padding: 10px 0 65px;
	border-bottom: 1px solid #DCDCDC;
}

.ba-team__title {
	margin-bottom: 55px;
}

.ba-team__photo-wrapper {
	display: inline-block;
	overflow: hidden;
	width: 221px;
	height: 295px;
	background-color: #E8E8E8;
	-webkit-border-radius: 15px;
	        border-radius: 15px;
}

.ba-team__member-name,
.ba-team__member-position {
	font-weight: 300;
	line-height: 48px;
	margin: 0;
}

.ba-team__member-name {
	color: #000;
	font-size: 24px;
	margin: 15px 0 0;
}

.ba-team__member-position {
	font-size: 14px;
	color: #5E5E5E;
	text-transform: uppercase;
	margin: 0;
	line-height: 22px;
	margin-bottom: 40px;
}

/* Contact */

.ba-contact {
	padding: 58px 0 30px;
}

.ba-contact__title {
	margin-bottom: 55px;
}

.ba-contact__item {
	display: inline-block;
	max-width: 205px;
	margin-bottom: 20px;
}

.ba-contact__icon {
	float: left;
	margin-top: 5px;
}


.ba-contact__text {
	text-align: left;
	padding-left: 55px;
}

.ba-contact__text p,
.ba-contact__text a,
.ba-contact__text address {
	font-size: 18px;
	color: #5E5E5E;
}

.ba-contact__text p {
	line-height: 1;
	margin: 0;
}

.ba-contact__text a {
	display: block;
	line-height: 2.3;
}

.ba-contact__text a:hover {
	text-decoration: underline;
}

.ba-contact__text address {
	font-style: normal;
	margin-top: 10px;
	line-height: 1.3;
}

.ba-contact__map {
	height: 409px;
	margin-top: 95px;
}

/* Footer */

.ba-footer {
	background: #000 url(../img/footer-bg.png) no-repeat 50% 100%;
	padding: 83px 0 168px;
}

.ba-footer__logo {
	display: inline-block;
}

.ba-logo__img_footer {
	width: 157px;
	height: 72px;
}

.ba-footer__slogan {
	color: #ECB944;
	opacity: 0.59;
	margin: 10px 0 80px;
	padding: 0;
}

.ba-footer__social {
	display: inline-block;
	color: #000;
	width: 48px;
	height: 48px;
	line-height: 54px;
	background-color: #CCC;
	margin-left: 10px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;

	-webkit-transition: fill, .3s ease-in;
	-moz-transition: fill, .3s ease-in;
	transition: fill, .3s ease-in;
}

.ba-footer__social:first-child {
	margin-left: 0;
}

.ba-footer__social:hover {
	color: #FFF;
	background-color: #FFB200;
}

.ba-footer__social svg {
	fill: #000;
	width: 20px;
	height: 20px;
}

.ba-footer__social:hover svg {
	fill: #FFF;
}

.ba-footer__copyright {
	color: #606060;
	font-size: 16px;
	letter-spacing: .1em;
	margin-top: 95px;
}

@media (min-width: 768px) and (max-width: 959px) {
	.ba-team .ba-width-large-1-4 {
		width: 50%;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.ba-advantages .ba-width-medium-1-3,
	.ba-services .ba-width-medium-1-3,
	.ba-team .ba-width-large-1-4 {
		width: 50%;
	}
}
